.operatorKey {
  background-color: #808080;
  color: #fff;
  border: 1px solid #808080;
  border-radius: 15px;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  width: 100%;
  opacity: 0.9;
}

.operatorKey:hover {
  opacity: 1;
  cursor: pointer;
}
